# [1] Hello World!
build --client_env=CC=clang-16
build --cxxopt="-std=c++20" --cxxopt="-pedantic" --cxxopt="-Wall" --cxxopt="-Wextra" --cxxopt="-Werror"

# [2] Structured Hello World!
build --features=layering_check
build --experimental_cc_implementation_deps

# [3] Testing
build --experimental_enable_bzlmod
build --java_runtime_version=remotejdk_18
test --enable_runfiles --build_runfile_manifests

# [4] Sanitizers
build:asan --cxxopt="-Og" --cxxopt="-g" --cxxopt="-fsanitize=address" --cxxopt="-fno-omit-frame-pointer"
build:asan --linkopt="-fsanitize=address"
build:asan --platform_suffix="-asan"

# [5] Static analyzers
# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects //clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
# Optionally override the .clang-tidy config file target
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config

# [6] Platform support
build --incompatible_enable_cc_toolchain_resolution

# [7] WASM
build:wasm --platforms=@emsdk//:platform_wasm