UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    performance-*,
HeaderFilterRegex: "^((?!/external/).)*$"

WarningsAsErrors: >
    bugprone-*,
    cppcoreguidelines-*,
    performance-*,