UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
HeaderFilterRegex: ".*"

WarningsAsErrors: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,